.quadrado {
    background-color: #d67ba8;
    width: auto;
    height: 100%;
    display: flex;
}

.column {
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    background-color: #b21368;
    width: 500px;
    height: 150px;
    margin: 50px;
}

.retangulo {
    display: flex;
    width: 600px;
    height: 75%;
    border-radius: 50px;
}

.retangulo img {
    width: 40rem;
    height: 30rem;
    padding: 50px;
}

@media (max-width: 1024px) {
    .quadrado {
        width: auto;
        height: 100%;
    }
    .card {
        width: 400px;
        height: 100px;
        margin: 50px;
    }
    .retangulo img {
        width: 25rem;
        height: 20rem;
        padding: 50px;
    }
}
@media (max-width: 480px) {
    .quadrado {
        width: 150%;
        height: 50rem;
        display: flex;
    }
    .card {
        width: 300%;
        height: 20%;
        margin: 50px;
    }
    .retangulo img {
        width: 20rem;
        height: 15rem;
        margin: 35%;
    }
}